:root {
    --lilas: #8888EA;
    --laranja: #FCA82F;
    --roxo: #6066D0;
    --cinza-escuro: #535050;
}

body {
    margin: 2%;
    font-family: 'Poppins', sans-serif;
}

nav {
    text-align: right;
}

nav li {
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
}

nav li:hover {
    color: var(--lilas);
    cursor: pointer;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-shadow: 2px 4px var(--lilas);
}

header img {
    width: 200px;
}

main {
    align-items: center;
    text-align: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

.btn-jogar,
.btn-pontos {
    width: 220px;
    height: 50px;
    background-color: var(--roxo);
    border: none;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
}

.btn-jogar:hover,
.btn-pontos:hover {
    background-color: var(--laranja);
    color: #fff;
    cursor: pointer;
}

.acesso {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.acesso img {
    width: 180px;
}

.acesso .app-store {
    height: 54px;
    margin-top: 8px;
}

footer {
    position: absolute;
    font-size: 12px;
    font-style: italic;
    padding-top: 60px;
    bottom: 2%;
}


