:root {
    --lilas: #8888EA;
    --laranja: #FCA82F;
    --roxo: #6066D0;
    --cinza-escuro: #535050;
}

body {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: 2%;
}

nav {
    text-align: right;
}

nav li {
    position: relative;
    display: inline-block;
    margin-left: 20px;
    font-size: 15px;
}

nav li:hover {
    color: var(--lilas);
    cursor: pointer;
}


/* ----- Menu Dropdown para as Configurações ----- */ 

nav .dropdown {
    position:absolute;
    background-color:#fff;
    display:none;
}

nav li:hover ul, .menu li.over ul{
    display:block;
    right: 0;
    width: 200px;
}

.li-dropdown {
    padding-top: 20px;
}

.li-dropdown:hover {
    background-color: var(--roxo);
    color: #fff;
    width:150px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    }

/* ----- Fim do Menu Dropdown ----- */


header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5%;
    font-family: 'Press Start 2P', cursive;
    font-size: 20px;
    text-shadow: 2px 4px var(--lilas);
}

header img {
    width: 200px;
}

main {
    align-items: center;
    text-align: center;
}


.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 15px;
}

.btn-jogar,
.btn-pontos {
    width: 220px;
    height: 50px;
    background-color: var(--roxo);
    border: none;
    margin: 10px;
    border-radius: 10px;
    color: #fff;
}

.btn-jogar:hover,
.btn-pontos:hover {
    background-color: var(--laranja);
    color: #fff;
    cursor: pointer;
}

.acesso {
    margin-top: 60px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.acesso img {
    width: 180px;
}

.acesso .app-store {
    height: 54px;
    margin-top: 8px;
}

footer {
    font-size: 13px;
    padding: 100px 100px 60px 100px;
    background-color:var(--roxo) ;
    color: #fff;
}

.rodape {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.integrantes h3{
    color: var(--laranja);
}

/* Animação coração*/
.fa-solid, .fa-heart, .fa-beat {
    animation-duration: 1.5s; 
    color: var(--laranja);
}


